.article-tabs {
  border: solid black 1px;
  width: 320px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-color: aliceblue;
}

.article-window {
  text-align: center;
  min-width: 320px;
  height: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.sort-buttons {
  display: flex;
  justify-content: center;
}
