.individual-comment-window {
  width: auto;
  text-align: center;
  margin: 15px;
  padding: 20px;
  border-radius: 5%;
  background-color: beige;
}

.sort-buttons {
  display: flex;
  justify-content: center;
}

.post-comment-box {
  width: 310px;
  height: 100px;
}
.vote-up-button {
  background-color: #4caf50;
  border-radius: 8px;
  width: 80px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}
.vote-down-button {
  background-color: red;
  border-radius: 8px;
  width: 80px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

.comment-link {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}
.comment-link:hover {
  text-decoration: none;
  color: blue;
}
