.App {
  text-align: center;
}
header {
  display: flex;
  justify-content: center;
}
.nav-bar {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.nav-bar-header {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.nav-item {
  text-decoration: none;
  color: black;
  margin: 5px;
}
.nav-item:hover {
  text-decoration: none;
  color: blue;
  margin: 5px;
}

.app-page {
  display: grid;
  grid-template-columns: 1fr;
}
.pages {
  display: flex;
  justify-content: center;
}
