@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.App {
  text-align: center;
}
header {
  display: flex;
  justify-content: center;
}
.nav-bar {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.nav-bar-header {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: black;
  font-size: 22px;
}
.nav-item-top {
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 5px;
}
.nav-item-top:hover {
  text-decoration: none;
  color: gold;
  margin: 5px;
}
.nav-item {
  text-decoration: none;
  color: black;
  margin: 5px;
  padding: 0px 5px;
}
.nav-item:hover {
  text-decoration: none;
  color: blue;
  margin: 5px;
}

.app-page {
  display: grid;
  grid-template-columns: 1fr;
}
.pages {
  display: flex;
  justify-content: center;
  background-color: white;
  width: auto;
}

.NC-title {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
}
